# Remove files that shall not be installed from this list.
{{ with $hostname := default .chezmoi.hostname (env "CHEZMOI_HOSTNAME") }}
{{- if (eq $hostname "ink") -}}
intel/ibt-0041-0041.sfi
intel/ibt-0041-0041.ddc
iwlwifi-ty-a0-gf-a0-59.ucode
iwlwifi-ty-a0-gf-a0-62.ucode
iwlwifi-ty-a0-gf-a0-63.ucode
iwlwifi-ty-a0-gf-a0-66.ucode
iwlwifi-ty-a0-gf-a0.pnvm
{{- end -}}
{{- end }}
